body {
    font-family: Helvetica, sans-serif;
  }

.lineThrough {
    text-decoration: line-through;
}

  /* .itemCheckbox
  .itemTextClass
   */

/* .itemCheckbox,
.itemTextClass,
.delItemButton {
    display: inline-block;
    padding: 0px;
    margin: 0px;
} */