body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

.lineThrough {
    text-decoration: line-through;
}

input[type='checkbox']:checked {
  background-color: black !important;
  border-color: black !important;
  color: #ffffff !important;
}

#addItemTextField {
  width: 95%;
}

#items .row:nth-child(odd) {
  background-color: #eaeaea;
}

.form-invisible {
  display: none;
}
